@CHARSET "UTF-8";
body{
	font-family: Helvetica;
	/* background-color: #E9EFF3; */
	/*padding-top: 70px;*/
}

.table th, .table td { 
     border-top: none !important;
    padding: 3px;
 }

.logo {
    font-family:Sacramento,sans-serif;font-size:50px;font-weight:bold;color:#0c218a; /* padding-top:20px;margin-top:50px; */
}

.navbar button { margin-left:20px; }

.user-input{
	display: table;
    background-color: white;
    margin: 3em auto 0;
    padding: 20px;
    border: 1px solid black;
    border-radius: 2%;
	box-shadow: 5px 5px 2.5px #888888;
	min-width:25%;
}
.submit-button{
	display:table;
	margin:0 auto;
}


.table-row-new-person {
	border-top: 15px solid #EFF0F1;
}

.table-row-same-person {
	border-top: 1px solid #EFF0F1;
}
.table-div{
    margin: 0em 2em;
    border:1px solid black;
	background-color: white;
}

.shift-nav{
	margin-left: 5px;
	padding-left:5px;
}

.empty-div{
	width: 2.5em;
}

#saveButton{
	margin-right:30px;
}

.trow{
    border-bottom: solid 1px rgba(128,128,128,0.3);
}

.selected-trow{
   /* background-color:yellow; */
}

.merged-row { border-bottom: none;} /* this should be applied to all rows except the last one in a merged group. interacts with broder-collapse on the entire table */

.toolbar-row { font-size: 11px; }
.toolbar-row td {
    border-top: solid 1px rgba(128,128,128,1.0);
    padding-top:10px;
    padding-bottom: 5px;

}

.help {font-size:90%;color:#aaa}

.reviewed1 {
    background: repeating-linear-gradient(
            to right,
            #f6ba52,
            #f6ba52 10px,
            #ffd180 10px,
            #ffd180 20px
    );
}

.reviewed {
    background-color: lightgreen;
}

.fixed{
	position: fixed;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  z-index: 100;
  margin: 0 auto;
  display: table;
}

.comment-box{
	background-color:white;
	border: 0.5px solid #EFF0F1;
	border-radius: 4%;
	min-height: 2em;
	min-width:8em;
}

.pre-margin{
	margin: 1% 15%;
}

.nav .breadcrumb a {
    margin: 0 7px;
    text-transform:capitalize;
}
@media (min-width: 768px) {
    .nav .breadcrumb {
        float: left;
        margin: 7px 10px;
    }
}


.header-fixed {
    width: 100%;
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}
 
 
.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: visible;
    clear: both;
}

.header-fixed > tbody {
    /*overflow-y: auto;*/
    /*height: 35em;*/
}


.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    /* width: 8.33%; */
    float: left;
    overflow: hidden;
}

.header-fixed > thead > tr > th{white-space: nowrap;}

.header-fixed > thead > tr{
	width:100%;
}

.table-header {
    width:98%;
    margin: 1em 2em 1em 1.5em;
}


/* ALL COLUMNS WIDTH GOES HERE; TOTAL SHOULDN'T EXCEED 100% */
.table-cell-merge, .table-cell-sex, .table-cell-done { width: 2%; }

.table-cell-year,
.table-cell-party,
.table-cell-votes{
	width:5%
}

.table-cell-unmerge,
.table-cell-position{
	width:6%
}

.table-cell-name{
	width:25%
}

.table-cell-comments{
	width:10%
}

.table-cell-constituency,
.table-cell-state{
	width:15%
}

