<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>surf</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>table</servlet-name>
    <jsp-file>/table.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>table</servlet-name>
    <url-pattern>/table.jsp</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>LoggingFilter</filter-name>
    <filter-class>
      edu.stanford.muse.webapp.LoggingFilter
    </filter-class>
    <init-param>
      <param-name>test-param</param-name>
      <param-value>This parameter is for testing.</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>LoggingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
